<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="defaultDB" value="mongodb://192.168.100.40:27017/gameQY?safe=true" />
    <add key="defaultSaveDir" value="game" />
    
    <add key="腾讯版[老版]" value="game"/>
    <add key="腾讯版[新版]" value="gameQQ"/>
    <add key="趣游版" value="gameQY"/>
    <add key="新干线" value="gameGF"/>
  </appSettings>
  <connectionStrings>
    <add name="腾讯版[老版]" connectionString="mongodb://192.168.100.40:27017/game2?safe=true"/>
    <add name="腾讯版[新版]" connectionString="mongodb://192.168.100.40:27017/gameQQ?safe=true"/>
    <add name="趣游版" connectionString="mongodb://192.168.100.40:27017/gameQY?safe=true"/>
    <add name="新干线" connectionString="mongodb://192.168.100.40:27017/gameGF?safe=true"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
