<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IP" value="0.0.0.0" />
    <add key="RoutePort" value="9001" />
    <add key="Path" value="/cgi-bin/pay" />
    <add key="OrderDB" value="mongodb://192.168.100.40:27017/47baby_Route?safe=true" />
    <!--对Order启动签名检查-->
    <add key="CheckSig" value="false"/>
    <!--状态为2.并且超过60秒(LostTime)没有收到成功或失败的,将自动重发-->
    <add key="LostTime" value="60"/>
    <!--设为空则为腾讯版,非空为趣游版-->
    <add key="RechargeKey" value="87a5934ce7e6d5c6ec51a4367ad0d94f"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>