<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="logs/logx" />
    <encoding value="UTF-8" />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd'.txt'"/>
    <maxSizeRollBackups value="100" />
    <maximumFileSize value ="1MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d{yy/MM/dd HH:mm:ss fff} - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name ="LevelMin" value="WARN"/>
      <param name ="LevelMax" value="FATAL"/>
    </filter>
  </appender>

  <appender name="debug" type="log4net.Appender.DebugAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d{yy/MM/dd HH:mm:ss fff} - %m%n" />
    </layout>
    <filter type ="log4net.Filter.LevelMatchFilter">
      <param name ="LevelToMatch" value="DEBUG" />
    </filter>
  </appender>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d{yy/MM/dd HH:mm:ss fff} - %m%n" />
    </layout>
    <filter type ="log4net.Filter.LevelMatchFilter">
      <param name ="LevelToMatch" value="DEBUG" />
    </filter>
  </appender>

  <appender name="gmLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/gmLog.txt" />
    <encoding value="UTF-8" />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value ="50" />
    <maximumFileSize value="200KB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d{yy/MM/dd HH:mm:ss fff} - %m%n" />
    </layout>
  </appender>

  <appender name="clientReport" type="log4net.Appender.RollingFileAppender">
    <file value="logs/clientReport.txt" />
    <encoding value="UTF-8" />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value ="50" />
    <maximumFileSize value="200KB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d{yy/MM/dd HH:mm:ss fff} - %m%n" />
    </layout>
  </appender>

  <appender name="clientError" type="log4net.Appender.RollingFileAppender">
    <file value="logs/clientError.txt" />
    <encoding value="UTF-8" />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value ="20" />
    <maximumFileSize value="1MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d{yy/MM/dd HH:mm:ss fff} - %m%n" />
    </layout>
  </appender>

    <appender name="clientWatch" type="log4net.Appender.RollingFileAppender">
      <file value="logs/clientWatch.txt" />
      <encoding value="UTF-8" />
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value ="20" />
      <maximumFileSize value="1MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d{yy/MM/dd HH:mm:ss fff} - %m%n" />
      </layout>
  </appender>

  <appender name="logReport" type="log4net.Appender.RollingFileAppender">
    <file value="logs/report" />
    <encoding value="UTF-8" />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd'.txt'"/>
    <maxSizeRollBackups value="100" />
    <maximumFileSize value ="10MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%m%n" />
    </layout>
  </appender>

  <logger name="root" additivity="true">
    <level value="DEBUG" />
    <appender-ref ref="console" />
    <appender-ref ref="debug" />
  </logger>
  <logger name="Server" additivity="true">
    <level value="DEBUG" />
    <appender-ref ref="file" />
    <appender-ref ref="console" />
    <appender-ref ref="debug" />
  </logger>
  <logger name="ClientReport" additivity="true">
    <level value="DEBUG" />
    <appender-ref ref="clientReport" />
  </logger>
  <logger name="ClientError" additivity="true">
    <level value="DEBUG" />
    <appender-ref ref="clientError" />
  </logger>
  <logger name="ClientWatch" additivity="true">
    <level value="DEBUG" />
    <appender-ref ref="clientWatch" />
  </logger>
  <logger name="GMLog" additivity="true">
    <level value="INFO" />
    <appender-ref ref="gmLog" />
  </logger>

  <logger name="Report" additivity="true">
    <level value="INFO" />
    <appender-ref ref="logReport" />
  </logger>

</log4net>