<configuration>
  <!--应用程序配置-->
  <appSettings>
    <add key="SID" value="S0001" />
    <add key="Servers" value="S0001,S0002"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <!--数据库连接-->
  <connectionStrings>
    <!--存放玩家数据的库-->
    <add name="player" connectionString="mongodb://192.168.100.40:27017/47baby?safe=true" />
    <!--保存游戏基本配置的库-->
    <add name="gamebase" connectionString="mongodb://192.168.100.40:27017/game2?safe=true" />
    <!--要执行统计的库,为玩家数据库或玩家数据库的备份-->
    <add name="gameLog" connectionString="mongodb://192.168.100.40:27017/47baby_log?safe=true" />
    <!--存放统计结果的库-->
    <add name="operation" connectionString="mongodb://192.168.100.40:27017/47baby?safe=true" />
  </connectionStrings>
  
  <!--4.0框架-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>