<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--QQ: "tencentlog.com" "192.168.100.40"-->
    <add key="ReportHost" value="192.168.100.40" />
    <!--QQ: "stat/report.php?" "report.ashx?"-->
    <add key="ReportPage" value="report.ashx?" />
    
    <!--单次读取日志的大小"-->
    <add key="onceRead" value="100" />
    <add key="gameLog" value="mongodb://192.168.100.40:27017/47baby_log?safe=true" />
  </appSettings>

  <!--4.0框架-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>