<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SID" value="6"/>
    <add key="oldplayer" value="mongodb://192.168.100.40:27064/47babytaigu1?safe=true" />
    <add key="newplayer" value="mongodb://192.168.100.40:27017/47babytaigu1?safe=true" />
  </appSettings>

  <!--4.0框架-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
</configuration>